body {
  background-color: #f7ecde;
}
h1 {
  font-family: "Pacifico", cursive;
  position: relative;
}
h1::before {
  content: "";
  background-color: #fec260;
  width: 210px;
  height: 20px;
  position: absolute;
  bottom: 0;
  transition: all 0.5s;
  z-index: -1;
}
h1:hover::before {
  height: 45px;
}
h2 {
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-inline: 10px;
  font-family: "Righteous", cursive;
}
.icon {
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.border-bottom {
  border-width: 3px 0px;
  margin-bottom: 40px;
  border-color: black;
  border-style: dotted;
}
.input1 label {
  font-weight: 700;
  font-size: 20px;
}
.input2 label {
  font-weight: 700;
  font-size: 20px;
}

/* <==========media query=========> */
@media screen and (min-width: 340px) and (max-width: 926px) {
  h1::before {
    width: 160px !important;
  }
}

@media screen and (min-width: 927px) and (max-width: 1024px) {
}

